<h1>Routing w Angularze</h1>
<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/courses" routerLinkActive="active">Kursy</a>
  <a routerLink="/about" routerLinkActive="active">O nas</a>
  <a routerLink="/secret" routerLinkActive="active">Tajne</a>
  <a *ngIf="!authService.user" routerLink="/login" routerLinkActive="active">Zaloguj</a>
  <a *ngIf="authService.user" (click)="logout()">Wyloguj</a>
  <span *ngIf="authService.user">Witaj: {{authService.user.email}}</span>
</nav>
<router-outlet></router-outlet>
