<h4>Reative form</h4>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div style="display: inline-grid;">

    <label for="topic">Temat:</label>
    <input type="text" id="topic" formControlName="topic">
    <div *ngIf="contactForm.get('topic').invalid && contactForm.get('topic').dirty">Pole wymagane!</div>

    <label for="message">Wiadomość:</label>
    <textarea id="message" formControlName="message"></textarea>
    <div *ngIf="contactForm.get('message').invalid && contactForm.get('message').dirty">Pole wymagane!</div>
    <div *ngIf="contactForm.get('message').errors && contactForm.get('message').errors.minlength">Za mało znaków</div>

    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name">
    <div *ngIf="contactForm.get('name').invalid && contactForm.get('name').dirty">Pole wymagane!</div>

    <label for="email">E-mail:</label>
    <input type="email" id="email" formControlName="email">
    <div *ngIf="contactForm.get('email').invalid && contactForm.get('email').dirty">Pole wymagane!</div>
    <div *ngIf="contactForm.get('email').errors && contactForm.get('email').errors.email">Zly email</div>


    <label for="course">Który kurs jest najfajniejszy?</label>
    <select id="course" formControlName="course">
      <option *ngFor="let course of courses" [value]="course">{{course}}</option>
    </select>

    <label>Czego chcesz się nauczyć?</label>
    <div formArrayName="questions">
      <div *ngFor="let question of contactForm.get('questions').get('controls'); let i = index">
        {{i+1}}<input type="text" [formControlName]="i">
      </div>
      <div *ngIf="contactForm.get('questions').errors && contactForm.get('questions').errors['dostepDoKursu']">Brak uprawnień</div>
      <button type="button" (click)="addQuestion()">Dodaj</button>
    </div>

    <div>
      <label for="bot">Jesteś botem?</label>
      <input type="radio" id="bot" [value]="true" formControlName="bot">Tak
      <input type="radio" id="bot" [value]="false" formControlName="bot">Nie
    </div>


    <!-- <button type="submit" [disabled]="contactForm.invalid">Wyslij</button> -->
    <button type="submit">Wyslij</button>
    <button type="button" (click)="reset()">Reset</button>


  </div>
</form>
